body {
	background:url('background.png') no-repeat center center fixed;
	position: relative;
	background-color: black;
	border-radius:50%;
	/*background: url('images/yourimage.jpg') no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.speedo {
	margin-top: 30px;
	border: 18px solid #c4ccff;
    width: fit-content; 
    border-radius: 192px;
}
.batteryOver {
	position: absolute;
    right: 46px;
    top: 10px;
}
#battery {
	box-sizing: content-box;
	height: 4.8em;
	width: 11.5em;
	border: 0.6em solid #246aed;
	margin: auto;
	border-radius: 0.6em;
	position: relative;
	display: grid;
	place-items: center;
  }
  #battery:before {
	position: absolute;
	content: "";
	height: 3em;
	width: 1.1em;
	background-color: #246aed;
	margin: auto;
	top: 0;
	bottom: 0;
	right: -1.6em;
	border-radius: 0 0.3em 0.3em 0;
  }
  #charge {
	position: absolute;
	height: 3.5em;
	max-width: 10.65em;
	width: 10.25em;
	background-color: #246aed;
	top: 0.6em;
	left: 0.6em;
  }
  #charge-level {
	color: #c3c3c3cf;
	position: absolute;
	font-size: 3em;
	font-weight: 500;
  }
  #charging-time {
	text-align: center;
	font-size: 1.7em;
	margin-top: 1.4em;
  }
  .active {
	animation: charge-animation 3s infinite linear;
  }
  @keyframes charge-animation {
	0% {
	  width: 0;
	}
	100% {
	  width: 16.25em;
	}
  }
	.container-a {
		min-width:90px;
		max-width:90px;
		height:1350px;
		position:relative;
		width:100%;
	}
	.containerAttendance-Gas{
		min-width: 90px;
		max-width: 90px;
		height: 350px;
		position: absolute;
		right: 130px;
		top: 120px;
		/* width: 100%; */
	}
	.containerAttendance-Break {
		min-width: 90px;
		max-width: 90px;
		height: 350px;
		position: absolute;
		left: 130px;
		top: 120px;
		/* width: 100%; */
	}
	.attendance {
		width:90%;
		float:left;
		background-color:#1f1f1f42;
		margin:7px 5% 5px 5%;
		padding-bottom:10px;
		border-style:solid;
		border-color: #111111 #4e4e4e #4e4e4e #111111;
		border-width:2px;
		position:relative;
	}
	.attendance .title {
		font-family:"Arial";
		color:white;
		font-size:9pt;
		font-weight:bold;
		text-align:center;
		padding:15px 0px 5px 0px;
	}
	.attendance-bar {
		float:left;
		width:90%;
		margin:0px 5% 0px 5%;
		height:260px;
		background-color:#2f2f2fab;
		position:relative;
	}
	.attendance-cage-css {
		width:100%;
		float:left;
		position:relative;
	}
	.bar-1, .bar-2, .bar-3, .bar-4, .bar-5, .bar-6, .bar-7, .bar-8, .bar-9 {
		float:left;
		width:100%;
		background-color:#1f1f1f;
		height:10px;
	}
	.bar-1 {
		margin-bottom:14px;
	}
	.bar-2 {
		margin-bottom:15px;
	}
	.bar-3 {
		margin-bottom:16px;
	}
	.bar-4 {
		margin-bottom:17px;
	}
	.bar-5 {
		margin-bottom:18px;
	}
	.bar-6 {
		margin-bottom:19px;
	}
	.bar-7 {
		margin-bottom:20px;
	}
	.bar-8 {
		margin-bottom:24px;
	}
	.bar-9 {
		margin-bottom:22px;
	}
	.attendance-level {
		float:left;
		height:100px;
		max-height:250px;
		width:100%;
		background-color:#6ae719;
		position:absolute;
		bottom:0;
		transition: background-color 0.5s ease-in;  
	}
	.attendance-level-gas {
		float:left;
		height:100px;
		max-height:250px;
		width:100%;
		background-color:#6ae719;
		position:absolute;
		bottom:0;
		transition: background-color 0.5s ease-in;  
	}
	.tempetureOver {
		color: green;
		position: absolute;
		left: 59px;
		top: 20px;
	}